<ul>
  <% @honorifics.each do |honorific| %>
    <li>
      <strong>
        Prince Leopold
        <% if honorific[:type] == "noun" %>
          of the <%= honorific[:word].capitalize %>
        <% elsif honorific[:type] == "adjective" %>
          the <%= honorific[:word].capitalize %>
        <% end %>
      </strong>
    </li>
  <% end %>
</ul>
