<ul>
  <% @honorifics.each do |honorific| %>
    <li>
      <strong>
        Prince Leopold
        <% if honorific.part_of_speech == "noun" %>
          of the <%= honorific.word.capitalize %>
        <% elsif honorific.part_of_speech == "adjective" %>
          the <%= honorific.word.capitalize %>
        <% end %>
      </strong>

      (from "<%= CGI.unescapeHTML(honorific.text) %>")
    </li>
  <% end %>
</ul>
