<ul>
  <% @titles.each do |title| %>
    <li>
      <strong>
        Prince Leopold
        <% if title[:type] == "noun" %>
          of the <%= title[:word].capitalize %>
        <% elsif title[:type] == "adjective" %>
          the <%= title[:word].capitalize %>
        <% end %>
      </strong>
    </li>
  <% end %>
</ul>
