ul {
  @extend %default-ul;
}

body {
  @include outer-container;
  margin-top: 2em;
}

header {
  margin-bottom: 2em;

  .heartless {
    color: tint(red, 38%);
    text-decoration: none;
  }

  .subtitle {
    color: lighten(black, 45%);
    font-size: 50%;
    margin-left: 1em;
  }
}
